<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Авторизация</h2>
        <h5>Ещё нет аккаунта? <a th:href="@{/registration}">Зарегистрироваться</a></h5>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Введите логин">
            <input type="password" name="password" placeholder="Введите пароль">

            <input type="submit" value="Войти">
        </form>
    </div>
</body>
</html>